#!/bin/bash

#User defined variables:


#SSH user for nodes
SSHUser="root"

#Top Level Directory of scripts
DIR="/proxtools/"

#VMID of proxtools management server
ManagerVMID='000'

#If you have any servers in the cluster that are not running VMs, add them here (ex. storage only nodes)
OtherServers=("store1" "store2")

#Add the hostnames of all servers in your cluster here that run VMs
Servers=("node1" "node2")

#This is used by /proxtools/shutdown commands to shutdown all servers, including those that do not run VMs
AllServers=("${OtherServers[@]}" "${Servers[@]}")

#This is used by /proxtools/dailyfreeze scripts to freeze and thaw the listed vmids. Cronjob /proxtools/dailyfreeze/freezevmids.sh at the end of the day, thawvmids.sh at the beginning.
DailyFreezeVMIDs=("vmid1" "vmid2")

#This is used by /proxtools/loadbalancenodes.sh to send email alerts if the migration failed
EmailFrom="email@example.com"

#This is used by /proxtools/loadbalancenodes.sh to send email alerts if the migration failed
EmailRecipients="email@example.com,email2@example.com"

#Delta between the max usage and min usage of nodes to determine if there is a low or high node
#Default is 3
UsageDelta=3

#Iteration count of how many times CPU and RAM are measured to determine a VM's load
#Higher numbers mean a more accurate measurement, but takes longer
#Default is 5
ItCount=5

#Weight used for how heavily CPU scores when determining the most used VM on a node. Total (between CPUWeight and RAMWeight) must equal 1.
#Default is 0.5, which will evenly weigh CPU and RAM
VMCPUWeight=0.5

#Weight used for how heavily RAM scores when determining the most used VM on a node. Total (between CPUWeight and RAMWeight) must equal 1.
#Default is 0.5, which will evenly weigh CPU and RAM
VMRAMWeight=0.5

#Weight used for how heavily CPU scores when determining the most and least used node. Total (between CPUWeight and RAMWeight) must equal 1.
#Default is 0.5, which will evenly weigh CPU and RAM
NodeCPUWeight=0.5

#Weight used for how heavily RAM scores when determining the most and least used node. Total (between CPUWeight and RAMWeight) must equal 1.
#Default is 0.5, which will evenly weigh CPU and RAM
NodeRAMWeight=0.5





#Script defined variables:

#This is edited by the tools in /proxtools/maintenancemode/. Will not work as intended if set manually.
MaintenanceMode=""