#!/bin/bash

#User defined variables:

#Top Level Directory of scripts
DIR="/proxtools/"

#VMID of proxtools management server
ManagerVMID='000'

#If you have any servers in the cluster that are not running VMs, add them here (ex. storage only nodes)
OtherServers=("store1" "store2")

#Add the hostnames of all servers in your cluster here that run VMs
Servers=("node1" "node2")

#This is used by /proxtools/shutdown commands to shutdown all servers, including those that do not run VMs
AllServers=("${OtherServers[@]}" "${Servers[@]}")

#This is used by /proxtools/dailyfreeze scripts to freeze and thaw the listed vmids. Cronjob /proxtools/dailyfreeze/freezevmids.sh at the end of the day, thawvmids.sh at the beginning.
DailyFreezeVMIDs=("vmid1" "vmid2")

#This is used by /proxtools/loadbalancenodes.sh to send email alerts if the migration failed
EmailFrom="email@example.com"

#This is used by /proxtools/loadbalancenodes.sh to send email alerts if the migration failed
EmailRecipients="email@example.com,email2@example.com"



#Script defined variables:

#This is edited by the tools in /proxtools/maintenancemode/. Will not work as intended if set manually.
MaintenanceMode=""
