#!/bin/bash

#VMID of proxtools management server
ManagerVMID='000'

#If you have any servers in the cluster that are not running VMs, add them here (ex. storage only nodes)
OtherServers=("store1" "store2")

#Add the hostnames of all servers in your cluster here that run VMs
Servers=("node1" "node2")

AllServers=("${OtherServers[@]}" "${Servers[@]}")